* {
    font-family: Georgia, sans-serif;
    background-color:rgb(229, 243, 247);
}

.message {
    color: rgb(14, 14, 136);
}

.handle {
    color:royalblue;
    margin-left: 30px;
}

fieldset, label {
    background-color: rgb(218, 215, 184);
}

#submit {
    background-color: sandybrown;
    font-size: 1em;
}