<!DOCTYPE html>
<html lang="en">
<head>
  <title>Eva's Stories</title>
  <meta charset="utf-8" />
</head>
<body>
  <header>
    <h1> Eva's Stories </h1>
    <h3> Some stories about one of baseballs rarest events </h3>
    <nav>
      <ul>
        <li> <a href="#1"> A Friend's Tickets </a> </li>
        <li> <a href="#2"> Again? </a> </li>
      </ul>
    </nav>
  </header>
  <hr>
  <main>
    <article id="1">
      <h2> A Friend's Tickets </h2>
      <p>
        When I was in middle school I loved baseball, particularly the San Francisco Giants.
        We didn't go to games very often, but we had a friend with season tickets who let my dad and I use them for a game.
      </p>
      <p>
        It was June 13th, 2012 and Matt Cain was pitching against the Houston Astros. The Giants were doing great.
        Through 5 inning they had put up 10 runs and had a 10-0 lead over the Astros.
      </p>
      <p>
        It was then that I realized that there were zeroes across the scoreboard for the Astros.
        Not just runs, but hits too. In fact, no Astro had safely reached base so far.
        Now as a baseball fan, I knew the unwritten rule. I could not mention this.
        Not even to my dad.
        I just watched with increasing stress and anticipation as the innings ticked on.
      </p>
      <p>
        Finally it was the ninth inning. Matt Cain was well over 100 pitches, the usual limit,
        but there was no activity in the bullpen. The whole ballpark was tense.
        You could feel that something special was happening.
      </p>
      <p>
        Finally there were two out and the potential final batter had come to the plate.
        He hit the ball to third base, where the regular third basemen had been replaced by Joaquin Arias, a better defender.
        Arias fielded the ball deep behind the bag and threw it to first, just in time.
      </p>
      <p>
        The whole ballpark erupted. Everyone was cheering, smiling, and hugging.
        Matt Cain had just thrown the <strong> first perfect game </strong> in Giants franchise history.
      </p>
      <figure>
        <img src="perfect_game.JPG" alt="A picture of the scoreboard after the perfect game"
        title="The scoreboard" width="400" />
        <figcaption>
          A picture I took of the scoreboard right after the final out.
        </figcaption>
      </figure>
      <p>
        The chances of my being able to witness a perfect game were minuscule.
        I had been only ever been to half a dozen baseball and this was just the 22nd perfect game in 100 plust years of MLB history.
        And our friend has never gotten over giving away his tickets.
    </article>
    <hr>
    <article id="2">
      <h2> Again? </h2>
      <p>
        A few years later, I was at another Giants game and I was keeping score in a scorebook for a class project.
        It was September 6th, 2013 and Yusmeiro Petit was pitching against the Arizona Diamondbacks.
      </p>
      <p>
        This time I knew what was happening from the start.
        I could clearly see it in my scorebook, where the top of each inning had three batters up, three batters down.
        But once again, I said nothing.
      </p>
      <p>
        In the fifth inning a ball was hit to left field and it looked like it might fall in for a hit.
        But Juan Perez dove and caught it. I wrote down in my book <i>PGSC</i>, standing for "Perfect Game Saving Catch".
        Maybe I shouldn't have tempted fate.
      </p>
      <p>
        Finally it was the ninth inning with 2 outs.
        Twenty-six batters had come to the plate, but none of them had made it safely to first.
        The count was full and the next pitch could decide it.
        The pitch came and the batter hit a sinking line drive to right field.
        Hunter Pence dove ... and the ball <em> bounced </em> a foot in front of his glove.
        The perfect game was lost.
      </p>
      <p>
        Immediately after, despite Petit only being at 90 pitches, a reliever started warming up in the bullpen.
        There was no need. Petit retired the next batter and all that came of his miraculous performance was a one-hit shutout.
      </p>
    </article>
  </main>
  <footer>
    <small>
      &copy;2021 by Eva Mars
    </small>
  </footer>
</body>
</html>
