{% extends 'basic.html' %}

{% block header %}
  <h2>{% block title %}Submit a Messages{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <fieldset>
      <label for="message">Please write a message: </label> <br>
      <textarea name="message" id="message" rows="6" cols="50"></textarea>
      <br><br>
      <label for="handle"> Name/Handle:</label>
      <input type="text" name="handle" id="handle"><br><br>
      <input type="submit" value="Submit message" id="submit">
    </fieldset>
  </form>

{% if done %}
  Message received!
{% endif %}

{% endblock %}